.chain-container {
    display: flex;
    flex-direction: column;
    padding:5px;
    gap: 20px;
    width: 100%;
    overflow-y: auto; /* Yüksekliği ayarlayarak kaydırmayı sağlar */
    max-height: 500px; /* Yüksekliği ayarlayın */
  }
  .description {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-right:5px;
    background-color: rgba(255, 255, 255, 0.7); 
    border: 1px solid #ddd; /* Açıklama etrafında ince bir sınır */
    border-radius: 5px; /* Köşeleri yuvarlatma */
  }
  
  .month {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Haftanın günleri için 7 sütun */
    gap: 5px; /* Hücreler arasındaki boşluk */
  }
  
  .day {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
  }
  
  .day:hover {
    transform: scale(1.1);
  }
  
  .day.completed {
    background-color: #ff0000;
    color: #fff;
    text-decoration: line-through;
  }
  