.greetings-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.greetings-display {
  position: fixed; 
  top: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  color: white;
  padding-top: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  align-items: center; 
  z-index: 1000; 
}
