.header {
    position: absolute;
    top: 20px; 
    left: 20px; 
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 40px; 
    font-weight: bold; 
    color: #ffffff; 
    background: transparent; 
    padding: 10px 20px; 
    border-radius: 5px; 
  }
  
  .header span {
    display: block;
    font-size: 12px;
    padding-left:80px;
  }
  